* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  font-family: 'Roboto';
  background: #91aee6;
}


.container {
  max-width: 860px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}



